@mixin mask-image($img, $repeat: no-repeat) {
  mask-image: url($img); // 替换 Compass 的 experimental(mask-image)
  mask-repeat: $repeat;
  width: auto; // image-width($img) 需要手动设置
  height: auto; // image-height($img) 需要手动设置
}

@mixin shadow-box($border: #fff .5em solid, $shadow: rgba(#000, .15) 0 1px 4px, $border-radius: .3em) {
  border-radius: $border-radius; // 替换 Compass 的 border-radius
  box-shadow: $shadow; // 替换 Compass 的 box-shadow
  box-sizing: border-box; // 替换 Compass 的 box-sizing
  border: $border;
}

@mixin selection($bg, $color: inherit, $text-shadow: none) {
  * {
    &::-moz-selection {
      background: $bg;
      color: $color;
      text-shadow: $text-shadow;
    }
    &::-webkit-selection {
      background: $bg;
      color: $color;
      text-shadow: $text-shadow;
    }
    &::selection {
      background: $bg;
      color: $color;
      text-shadow: $text-shadow;
    }
  }
}

@function text-color($color, $dark: dark, $light: light) {
  $text-color: ( (red($color) * 299) + (green($color) * 587) + (blue($color) * 114) ) / 1000;
  $text-color: if($text-color >= 150, $dark, $light);
  @return $text-color;
}