@use "sass:color";
@mixin border-top-radius($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

.highlight {
  table td.code {
    width: 100%;
  }
  border: 1px solid $pre-border !important;
}

pre {
  // background: $pre-bg $noise-bg;
  border-radius: .4em;
  @extend .mono;
  border: 1px solid $pre-border;
  line-height: 1.45em;
  font-size: 13px;
  margin-bottom: 2.1em;
  padding: 0 1em;
  color: $pre-color;
  overflow: auto;
}

p, li {
  code, tt {
    @extend .mono;
    display: inline-block;
    white-space: nowrap;
    // background: #fff;
    font-size: .8em;
    line-height: 1.5em;
    color: #555;
    // border: 1px solid #ddd;
    border-radius: .4em;
    padding: 0 .3em;
    margin: -1px 0;
  }
  pre code {
    font-size: 1em !important;
    background: none;
    border: none;
  }
}

.pre-code {
  @include selection(color.adjust($base03, $lightness: 23%, $saturation: -65%), $text-shadow: $base03 0 1px);
  font-family: $mono !important;
  overflow: scroll;
  overflow-y: hidden;
  display: block;
  // padding: .8em !important;
  overflow-x: auto;
  line-height: 1.45em;
  // background: $base03 $noise-bg !important;
  color: $base1 !important;
  span {
    color: $base1 !important;
  }
  span {
    font-style: normal !important;
    font-weight: normal !important;
  }

  .c, .cm, .cp, .c1, .cs {
    color: $base01 !important;
    font-style: italic !important;
  } /* Comment */
  .err {
    color: $solar-red !important;
    background: none !important;
  } /* Error */
  .k {
    color: $solar-orange !important;
  } /* Keyword */
  .o {
    color: $base1 !important;
    font-weight: bold !important;
  } /* Operator */
  .p {
    color: $base1 !important;
  } /* Operator */
  .ow {
    color: $solar-cyan !important;
    font-weight: bold !important;
  } /* Operator.Word */
  .gd, .gd .x {
    color: $base1 !important;
    // background-color: color.mix($solar-red, $base03, 25%) !important;
    display: inline-block;
  } /* Generic.Deleted */
  .ge {
    color: $base1 !important;
    font-style: italic !important;
  } /* Generic.Emph */
  .gh {
    color: $base01 !important;
  } /* Generic.Heading */
  .gi, .gi .x {
    color: $base1 !important;
    // background-color: color.mix($solar-green, $base03, 20%) !important;
    display: inline-block;
  } /* Generic.Inserted */
  .gs {
    color: $base1 !important;
    font-weight: bold !important;
  } /* Generic.Strong */
  .gu {
    color: $solar-violet !important;
  } /* Generic.Subheading */
  .kc {
    color: $solar-green !important;
    font-weight: bold !important;
  } /* Keyword.Constant */
  .kd {
    color: $solar-blue !important;
  } /* Keyword.Declaration */
  .kp {
    color: $solar-orange !important;
    font-weight: bold !important;
  } /* Keyword.Pseudo */
  .kr {
    color: $solar-magenta !important;
    font-weight: bold !important;
  } /* Keyword.Reserved */
  .kt {
    color: $solar-cyan !important;
  } /* Keyword.Type */
  .n, .na, .nb, .nc, .nl, .ne, .nf, .nn, .nt, .nx, .vg, .vi, .nv {
    color: $solar-blue !important;
  } /* Name */
  .no {
    color: $solar-yellow !important;
  } /* Name.Constant */
  .mf, .m, .mh, .mi, .s, .sd, .s2, .sr, .s1 {
    color: $solar-cyan !important;
  } /* Literal.Number / String */
  div {
    .gd, .gd .x, .gi, .gi .x {
      display: inline-block;
      width: 100%;
    }
  }
}

.highlight {
  pre {
    @extend .pre-code;
    background-color: none;
    border-radius: none;
    border: none;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  margin-bottom: 1.8em;
  // background: $base03;
  overflow-y: hidden;
  overflow-x: auto;
}
