.entry-content {
  table {
    //border-spacing: 1em, 0;
    border-collapse: collapse;

    th {
      font-weight: bold;
      background-color: #B6DCA6;
    }
    
    td, th {
      padding: 5px;
      border:#006B00 1px solid;
    }

    td.linenos {
      color: #006B00;
      background-color: #B6DCA6;
      border: none;
    }

    td.code {
      background-color: #F0ECE6;
      border: none;
    }
  }
}