#pinboard_linkroll {
  .pin-title, .pin-description {
    display: block;
    margin-bottom: .5em;
  }

  .pin-tag {
    text-decoration: none; // Replaces @include hover-link
    color: $sidebar-link-color-subdued; // Replaces @extend .aside-alt-link
    transition: color 0.3s ease;

    &:hover {
      text-decoration: underline; // Adds hover effect for links
      color: $sidebar-link-color-subdued-hover;
    }

    &:after {
      content: ',';
    }

    &:last-child:after {
      content: '';
    }
  }
}